/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xxl-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$electric-dark: #E2BA06;
$electric: #FFD205;
$electric-light: #FAE06A;
$frost: #E0DFD5;
$frost-light: #F8F6E9;
$frost-dark: #C8C7BC;
$star-light: #F8F9FA;
$star-dark: #ADB5BD;
$night-dark: #2A3036;
$stone-dark: #637275;





