#cook {
    display: grid;
    justify-content: center;
    text-align: center;
    color: $flesh-dark;

    #n1{
        background-color: $flesh-dark;
        color: white;
        margin-bottom: 45px;
    }

    #n2{
        background-color: $flesh-dark;
        color: white;
        margin-bottom: 45px;
    }


    #n3{
        background-color: $flesh-dark;
        color: white;
        margin-bottom: 45px;
    }

    #n4{
        background-color: $flesh-dark;
        color: white;
        margin-bottom: 45px;
    }


    #n5{
        background-color: $flesh-dark;
        color: white;
        margin-bottom: 45px;
    }

    #n6{
        background-color: $flesh-dark;
        color: white;
    }




        @include md {
            display: grid;
            grid-template-areas: ". cook-content .";
            justify-content: center;
        }

        @include lg {
            display: grid;
            grid-template-areas: ". cook-content .";
            grid-template-areas:
                "n1 n2"
                "n3 n4"
                "n5 n6"
        }
        




}