#cook {
    display: grid;
    justify-content: center;
    text-align: center;
 grid-gap: 46px;

    #n1{
        background-color: $flesh-dark;
        color: white;
    }

    #n2{
        background-color: $flesh-dark;
        color: white;
    }


    #n3{
        background-color: $flesh-dark;
        color: white;
    }

    #n4{
        background-color: $flesh-dark;
        color: white;
    }


    #n5{
        background-color: $flesh-dark;
        color: white;
    }

    #n6{
        background-color: $flesh-dark;
        color: white;
    }



    section {
        @include md {
            display: grid;
            grid-template-columns: 121px auto 121px;
            grid-template-areas: ". cook-content .";
            justify-content: center;

        }

        @include lg {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "n1 n1 n2 n2"
                "n3 n3 n4 n4"
                "n5 n5 n6 n6";
        }
        


    }
}