/* =============
    Hero
============= */
#hero{
    img{
        width: 100%;
    }

    section{
        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";
            ul{
                @include md{
                    grid-area: hero-content;
                    display: grid;
                    grid-template-columns: 40% auto;
                }

                @include lg{
                    grid-template-columns: 50% auto;
                
                }

            }
            h2{
                color: $night-dark;
            }
            h5{
                color: $night-dark;
            }
            p{
                color: $night-dark;
            }

            #leftbar{
                background-color: $electric-dark;
                color: $night-dark;
            }

            #rightbar{
                background-color: $electric;
                color: $night-dark;
            }

        }

    }
}