#recipes {
    display: grid;
    justify-content: center;
    text-align: center;
    color: $flesh-dark;


        #d2{
            display: none;
        }
        #d3{
            display: none;

    }

    @include md {
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-areas: ". recipes .";
    }
}