#recipes {
    display: grid;
    justify-content: center;
    text-align: center;
    color: $flesh-dark;

    .salmon{
        background-size: cover;
    }

    #d1{
        grid-area: "d1"
}
        #d2{
            grid-area: "d2";
        }
        #d3{
            grid-area: "d3";
    }

    @include md {
        justify-content: center;
#d2{
    display: none;
}

    }

    @include lg {
justify-content: center

#d2{
    display: none;
}
#d3{
    display: none;
}
    }
}