#services {
    display: grid;
    text-align: center;
    color: $flesh-dark;



        #f1{
            display: none;
        }
        #f3{
            display: none;
        }


    @include md {
        .grid {
            display: grid;
            grid-template-columns: 3, 1fr;
            grid-gap: 124px;
            max-width: 269px;
            grid-template-areas: "f1 f2 f3";
            align-items: center;
        }

    }

    @include lg {
        .grid {
            display: grid;
            grid-template-columns: 3, 1fr;
            grid-gap: 140px;
            max-width: 269px;
            grid-template-areas: "f1 f2 f3";
        }

    }
}