#services {
    display: grid;
    text-align: center;
    color: $flesh-dark;





    @include md {
        .grid {
            display: grid;
            justify-content: center;
            grid-template-columns:  repeat(3, 1fr);
            grid-gap: 124px;
        }
    }
}