#why-us {
    display: grid;
    justify-content: center;
    text-align: center;
    color: $flesh-dark;
    margin: 8px;

    #teach {
        color: white;
        background-color: $flesh-dark;
    }

    #staff {
        color: white;
        background-color: $flesh-dark;
    }

    #easy {
        color: white;
        background-color: $flesh-dark;
    }

    #r1 {
        color: $mount-dark;
    }

    #r2 {
        color: $mount-dark;
    }

    #r3 {
        color: $mount-dark;
    }

    @include md {
        margin: 182px;
  
        #teach {
            color: white;
            background-color: $flesh-dark;
        }

        #staff {
            color: white;
            background-color: $flesh-dark;
        }

        #easy {
            color: white;
            background-color: $flesh-dark;
        }

        #r1 {
            color: $mount-dark;
        }

        #r2 {
            color: $mount-dark;
        }

        #r3 {
            color: $mount-dark;
        }

    }




    @include lg {

        background-color: $burn-light;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "r1 r2 r3";
        grid-gap: 140px;
        margin: 42px;

        #r1{
            max-width: 300px;
        }

        #r2{
            max-width: 300px;
        }

        #r3{
            max-width: 300px;
        }
    }
}