/* =============
    Header
============= */
header{
    background-color: yellow;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    >div{
        grid-area: header;
    }
}